{% extends 'base.html' %}

{% block title %}Edit Reservation{% endblock %}

{% block content %}
    <h1>Edit Reservation for {{ reservation.customer.firstName }} {{ reservation.customer.lastName }}</h1>

    <form method="POST">
        {% csrf_token %}
        
        <div class="form-field">
            <label for="{{ form.numberOfGuests.id_for_label }}">Number of Guests:</label>
            {{ form.numberOfGuests }}
        </div>
        <div class="form-field">
            <label for="{{ form.reservationDate.id_for_label }}">Date:</label>
            {{ form.reservationDate }}
        </div>
        <div class="form-field">
            <label for="{{ form.reservationTime.id_for_label }}">Time:</label>
            {{ form.reservationTime }}
        </div>
        <div class="form-field">
            <label for="{{ form.status.id_for_label }}">Status:</label>
            {{ form.status }}
        </div>

        <button type="submit">Save Changes</button>
    </form>
{% endblock %}